.text {
	font-size:12px;
}
.table_big {
	background-color: #A6D4F5;
	border: 3px solid #2575B4;
}
.text_title {
	font-size:12px;
	color: #FF0000;
}
.button_ {
	border: thin solid #A6D4F5;
}
.text_blue {
	font-size:12px;
	color: #0000FF;
}
.table_small {
	border: thin solid #A6D4F5;
}
.textfield {
	border: thin solid #A6D4F5;
	height: 18px;
	width: 150px;
}
.select_filed {
	height: 12px;
	width: 50px;
	border: medium solid #999999;
}
.table_title {
	border-top: medium solid #2575B4;
	border-right: none #2575B4;
	border-bottom: none #2575B4;
	border-left: none #2575B4;
}
.text_error {
	font-size:12px;
	color: #FF0000;
}
.select_filed2 {
	height: 12px;
	width: auto;
	border: medium solid #999999;
}
.textfield2 {
	border: thin solid #A6D4F5;
	height: 90px;
	width: 400px;
}
.nav {font-size:12px;color:#FFFF33;line-height: 12px;text-decoration: none;FONT-WEIGHT: bold;}